:root{
    --primarioOscuro: #262729;

}


*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 1.5;


    background-color: var(--primarioOscuro);
}

/*____________________
        NAVBAR
____________________*/

.show{
    display: flex !important;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li > a{
    display: block;
    position: relative;
    padding: 20px 15px 10px 15px;
    text-decoration: none;

    color: white;
}

nav ul li .link::before{
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease;

    background-color: white;
}

nav ul li .link:hover::before{
    transform: scaleX(1);
}

nav .more{
    display: none;
}

nav .menu{
    margin-top: 48px;
    position: absolute;
    display: none;
    flex-direction: column;
    min-width: 200px;

    background-color: white;
}

nav .menu a{
    padding: 10px;
    color: black;
    text-decoration: none;
}

nav .menu a:hover {
    background-color: black;
    color: white;
}


nav .mobile {
    display: none;
    width: 100%;

}

nav .mobile .header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;

    background-color: black;
}

nav .mobile .header a {
    color: white;
    display: inline-flex;
    text-decoration: none;
    padding: 10px;
}

nav .mobile .header #bmenu{
    border: none;
    background-color: transparent;
    cursor: pointer;

    color: white;
}

nav .mobile .links {
    display: none;
    flex-direction: column;
    position: relative;
    z-index: 200;

    /*Color background*/
}

nav .mobile .links a{
    font-size: 20px;
    display: block;
    padding: 10px 20px;
    text-decoration: none;


    color: white;
}

nav .mobile .links a:hover{
    font-size: 20px;
    display: block;
    padding: 10px 20px;
    text-decoration: none;


    color: black;
    background-color: white;
}

/*____________________
        HEADER
____________________*/

header{
    background-color: var(--primarioOscuro);

    background-size: cover;
    background-position: center center;
    height: 100vh;

}

/*____________________
        BANNER
____________________*/


#banner {
    font-size: 1.8em;
    text-align: center;
    width: 500px;
    position: absolute;
    z-index: 100;
    top: 60px;
    left: 100px;
    color: white;
    
}


.heart-icon {
    position: relative;
    bottom: 60px;
    width: 580px;
    height: auto;
}

/*____________________
        SIGNOS
____________________*/

#temp {
    font-size: 0.6em;
    text-align: center;
    width: 250px;
    position: absolute;
    z-index: 100;
    top: 70px;
    left: 700px;
    color: white;
    background-color: rgba(97, 97, 97, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    padding: 5px;
}

.title-temp {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-left: 3%;
}

#temp-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8em;
    text-align: center;
    background-color: rgba(134, 134, 134, 0.2);
    padding: 5px;
    backdrop-filter: blur(5px);
    border-radius: 25px;
    position: relative;
    width: 238px;
    height: 130px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 2px;
}

.tdato, .tgraf {
    flex-grow: 0; /* Evita que se expandan */
}
.tdato {
    display: flex;
    flex-basis: 35%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 25px;
    width: 60px;
    height: 120px;
    background-color: #008efe;
}

.tgraf {
    display: flex;
    flex-basis: 65%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    width: 100px;
    height: 130px;
}

canvas {
    border-radius: 40px;
}

.estado-temp, .estado-hr, .estado-sp {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

}
/* From Uiverse.io by satyamchaudharydev */ 

.loading {
    --speed-of-animation: 0.9s;
    --gap: 6px;
    --first-color: #ffffff;
    --second-color: #ffffff;
    --third-color: #ffffff;
    --fourth-color: #ffffff;
    --fifth-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    gap: 6px;
    height: 30px;
   
}
   
   .loading span {
    width: 4px;
    height: 30px;
    background: var(--first-color);
    animation: scale var(--speed-of-animation) ease-in-out infinite;
   }
   
   .loading span:nth-child(2) {
    background: var(--second-color);
    animation-delay: -0.8s;
   }
   
   .loading span:nth-child(3) {
    background: var(--third-color);
    animation-delay: -0.7s;
   }
   
   .loading span:nth-child(4) {
    background: var(--fourth-color);
    animation-delay: -0.6s;
   }
   
   .loading span:nth-child(5) {
    background: var(--fifth-color);
    animation-delay: -0.5s;
   }
   
@keyframes scale {
    0%, 40%, 100% {
     transform: scaleY(0.05);
    }
   
    20% {
     transform: scaleY(1);
    }
}

.loading2 {
    --speed-of-animation: 0.9s;
    --gap: 6px;
    --first-color: #ffffff;
    --second-color: #ffffff;
    --third-color: #ffffff;
    --fourth-color: #ffffff;
    --fifth-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    gap: 6px;
    height: 30px;
   
}
   
   .loading2 span {
    width: 4px;
    height: 30px;
    background: var(--first-color);
    animation: scale var(--speed-of-animation) ease-in-out infinite;
   }
   
   .loading2 span:nth-child(2) {
    background: var(--second-color);
    animation-delay: -0.8s;
   }
   
   .loading2 span:nth-child(3) {
    background: var(--third-color);
    animation-delay: -0.7s;
   }
   
   .loading2 span:nth-child(4) {
    background: var(--fourth-color);
    animation-delay: -0.6s;
   }
   
   .loading2 span:nth-child(5) {
    background: var(--fifth-color);
    animation-delay: -0.5s;
   }
   
@keyframes scale {
    0%, 40%, 100% {
     transform: scaleY(0.05);
    }
   
    20% {
     transform: scaleY(1);
    }
}

.hidden {
    display: none;
}

#hr {
    font-size: 0.6em;
    text-align: center;
    padding: 20px;
    width: 250px;
    position: absolute;
    z-index: 100;
    top: 70px;
    left: 1000px;
    color: white;
    background-color: rgba(97, 97, 97, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    padding: 5px;
}

.title-hr {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-left: 3%;
}

#hr-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8em;
    text-align: center;
    background-color: rgba(134, 134, 134, 0.2);
    padding: 5px;
    backdrop-filter: blur(5px);
    border-radius: 25px;
    position: relative;
    width: 238px;
    height: 130px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 2px;
}

.hrdato, .hrgraf {
    flex-grow: 0; /* Evita que se expandan */
}

.hrdato {
    display: flex;
    flex-basis: 35%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 25px;
    width: 60px;
    height: 120px;
    background-color: #008efe;
}
.hrgraf {
    display: flex;
    flex-basis: 65%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    width: 100px;
    height: 130px;
}


#spo2 {
    font-size: 0.6em;
    text-align: center;
    padding: 20px;
    width: 250px;
    position: absolute;
    z-index: 100;
    top: 350px;
    left: 700px;
    color: white;
    background-color: rgba(97, 97, 97, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    padding: 5px;
}

.title-sp {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-left: 3%;
}

#sp-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8em;
    text-align: center;
    background-color: rgba(134, 134, 134, 0.2);
    padding: 5px;
    backdrop-filter: blur(5px);
    border-radius: 25px;
    position: relative;
    width: 238px;
    height: 130px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 2px;
}

.spdato, .spgraf {
    flex-grow: 0; /* Evita que se expandan */
}

.spdato {
    display: flex;
    flex-basis: 35%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 25px;
    width: 60px;
    height: 120px;
    background-color: #008efe;
}

.spgraf {
    display: flex;
    flex-basis: 65%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    width: 100px;
    height: 130px;
}

#PPG {
    font-size: 0.7em;
    text-align: center;
    padding: 20px;
    width: 500px;
    position: absolute;
    z-index: 100;
    top: 750px;
    left: 160px;
    color: rgba(255, 255, 255, 0);
}

#ecg-container {
    font-size: 1em;
    text-align: center;
    padding-right: 40px;
    background-color: rgba(134, 134, 134, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    position: absolute;
    width: 240px;
    height: 150px;
    margin: 0 auto;
    z-index: 100;
    top: 530px;
    left: 120px;
}


.icon {
    width: 30px;
    height: auto;
    filter: invert(100%) brightness(100%);
}

#batabase {
    font-size: 1em;
    text-align: center;
    padding: 20px;
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: 100;
    top: 720px;
    left: 650px;
    color: white;
}

.content-table { border-collapse: collapse; margin: 25px 0; font-size: 1em; font-family: sans-serif; min-width: 550px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
.content-table thead tr { background-color: #555c66; color: #ffffff; text-align: middle; }
.content-table th, .content-table td { padding: 12px 15px; }
.content-table tbody tr { border-bottom: 1px solid #dddddd00; } .content-table tbody tr:nth-of-type(even) { background-color: #292d33; } .content-table tbody tr:last-of-type { border-bottom: 2px solid #ffffff; }
/*____________________
        MEDIANO
____________________*/

@media screen and (min-width: 769px) and (max-width: 1159px){
    nav .link-hide{
        display: none;
    }
    nav .more{
        display: flex;
    }
    header{
        height: 5vh;
    }

    #banner{
        position: initial !important;
        display: flex;
        align-items: center; /* Centra los elementos horizontalmente */ 
        justify-content: center;
        background-color: var(--primarioOscuro);
        background-size: cover;
        background-position: center;
        height: 150px;
        width: 100%;
    }

    .card {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .heart-icon{
        top: 5px;
        margin-left: 90px;
        width: 150px;
        height: auto;
    }

    #ecg-container { 
        flex: 1;
        font-size: 1em;
        padding-right: 20px;
        background-color: rgba(134, 134, 134, 0.2);
        border: 2px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        border-radius: 25px;
        position: relative;
        width: 140px;
        height: 100px;
        z-index: 100;
        top: 10px;
        left: 20px;
    }

    #temp{
        position: absolute;
        background-color: var(--primarioOscuro);
        background-size: cover;
        background-position: center;
        left: 10%;
        top: 190px;
        width: 250px;
    }
    #hr{
        position: absolute;
        background-color: var(--primarioOscuro);
        background-size: cover;
        background-position: center;
        left: 60%;
        top: 190px;
        width: 250px;
    }
    #spo2{
        position: absolute;
        background-color: var(--primarioOscuro);
        background-size: cover;
        background-position: center;
        left: 60%;
        top: 450px;
        width: 250px;
    }
    #batabase {
        position: absolute;
        left: 50px;
    }

    #PPG {
        font-size: 0.7em;
        text-align: center;
        padding: 20px;
        width: 500px;
        position: fixed;
        z-index: 100;
        top: 750px;
        left: 60px;
    }
    
    

}

@media screen and (max-width: 768px){
    nav{
        width: 100%;
        padding: 0;
    }
    nav ul{
        display: none;
    }
    nav .mobile{
        display: block;
    }

    header{
        height: 0vh;
    }

    #banner{
        position: initial !important;
        background-color: var(--primarioOscuro);
        background-size: cover;
        background-position: center;
        padding-top: 25px;
        height: 13vh;
        width: 100%;
    }

    .card {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8em;
        padding: 15px;
    }

    .heart-icon{
        position: initial;
        width: 50px;
        height: auto;
    }

    .card h1{
        margin-right: 10px;
    }
    #ecg-container {
        flex: 1;
        font-size: 1em;
        padding-right: 10px;
        background-color: rgba(134, 134, 134, 0.2);
        border: 2px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        border-radius: 25px;
        position: relative;
        width: 60px;
        height: 50px;
        top: 1px;
        left: 1px;
    }

    #temp{
        position: absolute;
        background-color: var(--primarioOscuro);
        background-size: cover;
        background-position: center;
        left: 1%;
        top: 120px;
        width: 98%;
    }
    #temp-container {
        width: 100%;
    }
    #hr{
        position: absolute;
        background-color: var(--primarioOscuro);
        background-size: cover;
        background-position: center;
        left: 1%;
        top: 370px;
        width: 98%;
    }
    #hr-container {
        width: 100%;
    }
    #spo2{
        position: absolute;
        background-color: var(--primarioOscuro);
        background-size: cover;
        background-position: center;
        left: 1%;
        top: 605px;
        width: 98%;
    }
    #sp-container {
        width: 100%;
    }
    #PPG {
        font-size: 0.7em;
        text-align: center;
        padding: 20px;
        width: 500px;
        position: initial;
        z-index: 100;
        top: 750px;
        left: 60px;
    }
    #batabase {
        font-size: 1em;
        text-align: center;
        padding: 5px;
        width: 200px;
        position: absolute;
        top: 820px;
        left: 0%;
        z-index: 100;
        color: white;
    }

    
    .content-table {
        border-collapse: collapse;
        margin: 1px 0;
        font-size: 0.5em;
        font-family: sans-serif;
        width: 90%; /* Ajustar ancho total de la tabla */
        box-shadow: 0 0 26px rgba(0, 0, 0, 0.15);
    }
    
    .content-table thead tr {
        background-color: #555c66;
        color: #ffffff;
        text-align: middle;
    }
    
    .content-table th, .content-table td {
        padding: 8px 2px; /* Espaciado interno para mayor legibilidad */
    }
    
    /* Especificar ancho para cada columna */
    .content-table th:nth-child(1),
    .content-table td:nth-child(1) {
        width: 10px; /* Ancho de la columna de Temperatura */
    }
    
    .content-table th:nth-child(2),
    .content-table td:nth-child(2) {
        width: 10px; /* Ancho de la columna de SpO2 */
    }
    
    .content-table th:nth-child(3),
    .content-table td:nth-child(3) {
        width: 10px; /* Ancho de la columna de BPM */
    }
    
    .content-table th:nth-child(4),
    .content-table td:nth-child(4) {
        width: 150px; /* Ancho de la columna de Fecha y Hora */
    }
    
    .content-table tbody tr {
        border-bottom: 1px solid #dddddd00;
    }
    
    .content-table tbody tr:nth-of-type(even) {
        background-color: #292d33;
    }
    
    .content-table tbody tr:last-of-type {
        border-bottom: 2px solid #ffffff;
    }
}
